.show-certificates-list {
    .add-certificate-btn {
        position: relative;
        margin-right: 11px;
        padding: 5px 23px;
        margin-bottom: 10px;
        background-color: #fff;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border-radius: 5px;
        color: #8492a6;
        border: 1px dashed #8492a6;
        cursor: pointer;
    }

    .add-certificate-btn:hover {
        color: #3993ff;
        border-color: #3993ff;
    }

    .certificate-item {
        position: relative;
        margin-right: 11px;
        padding: 5px 23px;
        margin-bottom: 10px;
        border: 1px solid rgba(0,0,0,.3);
        background-color: #fff;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        border-radius: 5px;
        color: #3993ff;

        .ion-close {
            cursor: pointer;
            position: absolute;
            top: 8px;
            right: 6px;
            display: none;
        }
    }

    .certificate-item:hover .ion-close {
        display: inline-block;
        color: #2a3142;
    }
}
